<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <p>Submitted Information</p>
    <p>Name:   @ViewBag.Name </p>
    <p>Dojo location:    @ViewBag.Location</p>
    <p>Favorite language:   @ViewBag.Language</p>
    <p>Comment:   @ViewBag.Comment</p>

    <form action="/" method="get">
        <button type="submit">Go back</button>
    </form>
</body>
</html>